#content {
    width: 100%;
    padding-left: 20px;
}

.create-div {
    display: inline-block;
    margin: auto;
    padding: 20px;
}

.textbox {
    padding: 15px;
    width: 500px;
    margin: 10px;
    font-size: 20px;
}

.create-element-div {
    display: flex;
}

.create-submit-button {
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    width: 150px;
}

#is_admin {
    margin-top: auto;
    margin-bottom: auto;
}

#admin-text {
    margin-left: 20px;
}