#content {
    width: 100%;
    padding-left: 20px;
}

.submission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    width: 50%;
    min-width: 400px;
    transition: 0.3s;
}

.submission:hover {
    background-color: lightgray;
}

.submission-href {
    text-decoration: none;
    color: black;
}
