body {
    display: flex;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #202020;
}

#sidebar-div {
    width: 300px;
    min-width: 300px;
    height: 100vh;
    border-right: dimgrey 1px solid;
    position: sticky;
    top: 0;
    padding: 0 20px 0 20px;
}

.sidebar-items {
    margin: 0;
    padding: 10px;
}

.sidebar-items a {
    text-decoration: none;
    color: black;
}

.sidebar-problems-wrapper {
    margin: 10px 0 40px;
    padding-left: 10px;
}

.sidebar-contest-wrapper, .sidebar-problem-wrapper {
    margin: 10px 0;
    padding: 10px 10px 10px 20px;
    display: flex;
    align-items: center;
}

.sidebar-contest-wrapper {
    margin-right: 20px;
}

#sidebar-login-div {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

svg {
    margin-right: 10px;
}

#logo {
    width: 100px;
    height: 100px;
    margin: 20px 0 20px 0;
}

.score-div {
    order: 2;
    margin-left: auto;
}

div {
    color: #e0e0e0;
}

.element {
    background-color: #303030;
    border-radius: 20px;
    border: none;
    color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.hoverable {
    transition: background-color 0.3s;
}

.hoverable:hover {
    background-color: #404040;
}

.lighter {
    background-color: #404040;
}

.lighter.hoverable:hover {
    background-color: #505050;
}

#login-button, #logout-button {
    padding: 10px;
    text-decoration: none;
}

#logo-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo-wrapper a {
    padding: 0;
    margin: 0;
}

#logo-wrapper a img {
    padding: 0;
    margin: 0;
}

a {
    color: cornflowerblue;
}

a:hover {
    color: lightskyblue;
}

a:visited {
    color: mediumpurple;
}

a:visited:hover {
    color: mediumslateblue;
}

a {
    transition: color 0.3s;
}