body {
    display: flex;
    padding: 0;
    margin: 0;
}

#sidebar-div {
    width: 300px;
    height: 100vh;
    border-right: dimgrey 1px solid;
    position: fixed;
    padding: 20px;
}

#sidebar-spacer {
    width: 360px;
}