<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/score.css">
</head>

<body>
{% include "sidebar.html" %}

<div id="content">

    <h1>Welcome to CPS!</h1>
    <p>This is a simple web application written in Rust that allows you to create and participate in programming contests.</p>
    <p>It is designed to be simple and easy to use, and it is open source. You can find the source code at <a href="https://github.com/Zorz42/cps">github</a>.</p>

    {% if is_admin %}
    <h1>Admin Panel</h1>

    {% endif %}

</div>

</body>

</html>