<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/score.css">
</head>

<body>
{% include "sidebar.html" %}

<div id="content">

    <h1>Welcome to CPS!</h1>
    <p>This is a simple web application written in Rust that allows you to create and participate in programming contests.</p>
    <p>It is designed to be simple and easy to use, and it is open source. You can find the source code at <a href="https://github.com/Zorz42/cps">github</a>.</p>

    {% if is_admin %}
    <h1>Admin Panel</h1>

    <h2>Create a new user</h2>
    <form action="/create_user" method="post">
        <div class="create-element-div">
            <input class="textbox hoverable lighter element" type="text" id="username" name="username" autocomplete="username" placeholder="Username" required>
        </div>
        <div class="create-element-div">
            <input class="textbox hoverable lighter element" type="text" id="password" name="password" autocomplete="current-password" placeholder="Password" required>
        </div>
        <div class="create-element-div">
            <p id="admin-text">Is admin?</p>
            <input class="textbox hoverable lighter element" type="checkbox" id="is_admin" name="is_admin" autocomplete="off">
        </div>
        <div class="create-element-div">
            <input class="create-submit-button hoverable lighter element" type="submit" value="Create user">
        </div>
    </form>

    <h2>Users:</h2>
    {% for user in users %}
    <p>{{ user }}</p>
    {% endfor %}

    {% endif %}

</div>

</body>

</html>