<html>
<head>
    <title>Problem</title>
    <link rel="stylesheet" href="/css/problem.css">
</head>

<body>

{% include "sidebar.html" %}

<div id="content">
    <h1>{{ problem_name }}</h1>
    <p>
        {{ problem_description }}
    </p>

    <h2>Submit a solution</h2>
    <form method="post" enctype="multipart/form-data" action="{{ problem_id }}/submit_file">
        <label for="file">File</label>
        <input id="file" name="file" type="file"/>
        <button>Submit</button>
    </form>

    {% for (submission_id, points, max_points, hide_score, message) in submissions %}
    <a href="/contest/{{ contest_id }}/problem/{{ problem_id }}/submission/{{ submission_id }}/" class="submission-href">
        <div class="submission">
            Submission {{ submission_id }} {% include "big_score.html" %}
        </div>
    </a>
    {% endfor %}

</div>

</body>

</html>