<!DOCTYPE html>
<html>
<head>
    <title>Problem</title>
    <link rel="stylesheet" href="/css/problem.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/score.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
                delimiters: [
                    { left: "\\[", right: "\\]", display: true },
                    { left: "$", right: "$", display: false }
                ]
            });
        });
    </script>


    {% include "score.html" %}
    {% import "score.html" as score %}
</head>

<body>

{% include "sidebar.html" %}

<div id="content">
    {% if is_admin %}
    <a href="/contest/{{ contest_id }}/edit_problem/{{ problem_id }}/" class="hoverable lighter element">Edit</a>
    {% endif %}

    <h1>{{ problem_name }}</h1>
    <span class="katex-equation" style="white-space: pre">
        {{ problem_description }}
    </span>

    <div class="submit-div element">
        <div>
            <h2>Submit a solution</h2>
            <form method="post" enctype="multipart/form-data" action="{{ problem_id }}/submit_file">
                <input id="file" name="file" type="file" required/>
                <button id="file-submit" class="hoverable lighter element">Submit</button>
            </form>
        </div>
        <div>
            <h2 style="text-align: center;">Score</h2>
            {% call score::big_score(points, max_points, false, "") %}
        </div>
    </div>

    {% for (submission_id, points, max_points, hide_score, message) in submissions %}
    <a href="/contest/{{ contest_id }}/problem/{{ problem_id }}/submission/{{ submission_id }}/" class="submission-href">
        <div class="submission hoverable element">
            Submission {{ submission_id }}
            {% call score::big_score(points, max_points, hide_score, message) %}
        </div>
    </a>
    {% endfor %}

</div>

</body>

</html>