{% macro big_score(points, max_points, hide_score, message) -%}

<div class="big-score-wrapper">
    <div class="big-score-text-wrapper">
        <p class="big-score-text">
            {% if !hide_score %}
            {{ points }}/{{ max_points }}
            {% endif %}
            {{ message }}
        </p>
    </div>

    <div class="big-score-bar" style="background-color: rgb({{ (max_points - points) * 600 / max_points }}, {{ points * 400 / max_points }}, 0); width: {{ points * 200 / max_points }}px;"></div>
</div>

{%- endmacro -%}

{% macro small_score(points, max_points) -%}

<div class="small-score-wrapper" style="background-color: rgb({{ (max_points - points) * 600 / max_points }}, {{ points * 400 / max_points }}, 0);">
    <p class="small-score-text">
        {{ points }}/{{ max_points }}
    </p>
</div>

{%- endmacro -%}