<html>

<head>
    <title>Submission</title>
    <link rel="stylesheet" href="/css/submission.css">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</head>

<body>

{% include "sidebar.html" %}

<div id="content">

    <h1>Submission</h1>
    <h2>Code</h2>
    <pre class="prettyprint">{{ code }}</pre>
    <h2>Verdict: {{ result }} {{ score }}</h2>
    <h2>Results</h2>
    {% for (points, result, tests) in subtasks %}
    <h3>Subtask {{ result }} {{ points }}</h3>
    <ul>
        {% for (result, time) in tests %}
        <li>test {{ result }} {{ time }}</li>
        {% endfor %}
    </ul>
    {% endfor %}

</div>

</body>

</html>