<!DOCTYPE html>
<html>

<head>
    <title>Submission</title>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night-eighties.css">
    <link rel="stylesheet" href="/css/submission.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/score.css">
    {% include "score.html" %}
    {% import "score.html" as score %}
</head>

<body>

{% include "sidebar.html" %}

<div id="content">
    <h2>Code</h2>
    <div id="code-wrapper" class="element">
        <pre class="prettyprint code-inner">{{ code }}</pre>
    </div>
    <div class="element submission-score-div">
        <h2>Verdict: {{ result }}</h2>
        <div class="final-score-wrapper">
        {% call score::big_score(points, max_points, false, "") %}
        </div>
    </div>
    {% for (i, (points, max_points, hide_score, message, tests)) in subtasks.iter().enumerate() %}
    <div class="element subtask-div">
        <div class="subtask-title">
            <h2>Subtask {{ i + 1 }}</h2>
            {% call score::big_score(points, max_points, hide_score, message) %}
        </div>
        <div class="subtask-tests-div lighter element">
            {% for (i, (result, color, time)) in tests.iter().enumerate() %}
            <div class="test-div">
                <div style="padding: 1% 0;">Test {{ i + 1 }}</div>
                <div class="test-result-div" style="background-color: {{ color }}">{{ result }}</div>
                <div style="padding: 1% 0; width: 50px">{{ time }}ms</div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>

</body>

</html>